Givens.WebDownloader2/Givens.WebDownloader2/WebDownloader.ClientSessions/Service References/CachingServiceReference/WebDownloaderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WebDownloaderService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhillipScottGivens.WebDownloader.Data" />
  <xs:element name="StartDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDownloadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownloadStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownloadStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PhillipScottGivens.WebDownloader.Data" minOccurs="0" name="GetDownloadStatusResult" type="q1:DownloadStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownloadedHtml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownloadedHtmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDownloadedHtmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>