Givens.WebDownloader2/Givens.WebDownloader/WebDownloader.ClientSessions/Service References/CachingServiceReference/CachingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CachingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/WebDownloaderService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/WebDownloaderService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/WebDownloaderService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhillipScottGivens.WebDownloader.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICachingService_StartDownload_InputMessage">
    <wsdl:part name="parameters" element="tns:StartDownload" />
  </wsdl:message>
  <wsdl:message name="ICachingService_StartDownload_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="ICachingService_GetDownloadStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadStatus" />
  </wsdl:message>
  <wsdl:message name="ICachingService_GetDownloadStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICachingService_GetDownloadedHtml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadedHtml" />
  </wsdl:message>
  <wsdl:message name="ICachingService_GetDownloadedHtml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadedHtmlResponse" />
  </wsdl:message>
  <wsdl:portType name="ICachingService">
    <wsdl:operation name="StartDownload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICachingService/StartDownload" message="tns:ICachingService_StartDownload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICachingService/StartDownloadResponse" message="tns:ICachingService_StartDownload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICachingService/GetDownloadStatus" message="tns:ICachingService_GetDownloadStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICachingService/GetDownloadStatusResponse" message="tns:ICachingService_GetDownloadStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedHtml">
      <wsdl:input wsaw:Action="http://tempuri.org/ICachingService/GetDownloadedHtml" message="tns:ICachingService_GetDownloadedHtml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICachingService/GetDownloadedHtmlResponse" message="tns:ICachingService_GetDownloadedHtml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICachingService" type="tns:ICachingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartDownload">
      <soap:operation soapAction="http://tempuri.org/ICachingService/StartDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadStatus">
      <soap:operation soapAction="http://tempuri.org/ICachingService/GetDownloadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadedHtml">
      <soap:operation soapAction="http://tempuri.org/ICachingService/GetDownloadedHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CachingService">
    <wsdl:port name="BasicHttpBinding_ICachingService" binding="tns:BasicHttpBinding_ICachingService">
      <soap:address location="http://localhost:8080/WebDownloaderService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>